@page "/Identity/Login"

@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="loginDto" OnValidSubmit="OnLoginFormSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label class="form-label d-block">
        Email:
        <InputText type="email" name="email" class="form-control" @bind-Value=loginDto.Email></InputText>
    </label>

    <label class="form-label d-block">
        Password:
        <InputText name="password" class="form-control" type="password" @bind-Value=loginDto.Password></InputText>
    </label>

    <button class="btn btn-primary">Login</button>
</EditForm>

@code {
    public class LoginDto
    {
        [Required]
        public string Email { get; set; }
        
        [Required]
        public string Password { get; set; }

        public List<string> Roles = new List<string>();
    }

    public LoginDto loginDto { get; set; } = new();

    private async Task OnLoginFormSubmitAsync(EditContext editContext)
    {
        var httpClient = new HttpClient();

        loginDto.Roles.Add("User");

        var loginResponse = await httpClient.PostAsJsonAsync("", loginDto);

        if (loginResponse.IsSuccessStatusCode && loginResponse.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var jwt = await loginResponse.Content.ReadAsStringAsync();

            await localStorageService.SetItemAsStringAsync("jwt", jwt);

            await authenticationStateProvider.GetAuthenticationStateAsync();

            navigationManager.NavigateTo("/");
        }
    }
}

<style>
    .btn.btn-primary {
        background-color: rgb(64, 26, 131);
        border: none;
        color: white;
        padding: 8px 13px;
        text-decoration: none !important;
        display: inline-block;
        font-size: 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }
</style>